.main-container {
  margin: 5%;
}

table {
  border-spacing: 0px;
  width: 100%;
  margin-top: 20px;
}

th, td {
  padding: 10px;
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  text-align: start;
  height: 35px;
}

td {
  background-color: #E8EAF5;
}

th {
  color:white;
  background-color: grey;
}

/*icon buttons*/

button > i {
  pointer-events: none;
  font-size: 20px;
}

td button > i {
  color:#303030;
}

td button:hover > i {
  color:#7a7a7a;
}

th button > i {
  color:white;
}

th button:hover > i {
  color:#d8d8d8;
}

td button {
  border: none;
  background-color: #E8EAF5;
}

th button {
  border: none;
  background-color: gray;
}

button.outside {
  border: none;
  background-color: gray;
  height: 35px;
  color: white;
  margin: 15px 0px;
}

input[type=text], select {
  box-sizing: border-box;
  height: 100%;
  border: 3px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  width: 100%;
}

input[type=text]:focus, select:focus {
  border:3px solid #555;
}

/*task icons container*/
.task-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(218, 218, 218);
  background-color: #303030;
  font-size: 20px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
}
