<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./style.css">
  <script src="https://kit.fontawesome.com/89e8d497c2.js" crossorigin="anonymous"></script>
  
  <title>Note App</title>
</head>
<body>
  <div class="main-container">
    <table id="notes">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Created</th>
          <th>Category</th>
          <th>Content</th>
          <th>Dates</th>
          <th></th>
          <th>
            <button id="archive-all-notes" title="Archive/Unarchaive All">
              <i class="fa-solid fa-box-archive"></i>
            </button>
          </th>
          <th>
            <button id="delete-table-all-notes" title="Delete All">
              <i class="fa-solid fa-trash"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody id="notes-body"></tbody>
      <tfoot><tr id="new-note"></tr></tfoot>
    </table>
    
    <button id="create-note-button" class="outside">Create Note</button>
    
    <form id="note-form" hidden></form>
    
    <table id="stats">
      <thead>
        <tr>
          <th></th>
          <th>Note Category</th>
          <th>Active</th>
          <th>Archived</th>
        </tr>
      </thead>
      <tbody id="stats-body"></tbody>
      <tfoot></tfoot>
    </table>

    <button id="swap-table-status" class="outside">Show Archived Notes</button>
  </div>
  
  <script type="module" src="./main.js"></script>  
</body>
</html>